.BTT{
font-size: 12px;
  color: gold;
}
h2 {
	font-family: 'Noto Serif SC', serif;
  color: Maroon;
}
h1{
  color: Maroon;
}
p {
	font-family: 'Roboto', sans-serif;
  color: green;
}
img{ 
width: 550;
	border: 10px solid #00000;
	padding: 105px;
	margin: 40px auto;
  position: relative;
  top: 50px;
  left: 600px;
}